<div id="footer_wrap" class="outer">
<footer class="inner">
	<p>theme <a href="https://github.com/theme/hexo-theme-aryl">Aryl</a> based on <a href="https://github.com/jasoncostello/slate">Slate</a></p>
</footer>
